footer {
    margin-top: 30px;
    width: 100%;
    padding: 30px 0;
    background: #3e2560;
}

footer ul {
    margin-left: 60%;
    list-style: none;
}

footer ul a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    transition: 0.3s;
}

footer ul a:hover {
    color: white;
}

@media (max-width: 900px) {
    footer ul {
        margin-left: 10%;
    }
}